@import "../../../../../styles/mixins";

.specialOffers__Item {
  @include itemShow();
  display: flex;
  flex-direction: column;
  max-width: 380px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 20px 10px 20px 27px;
  @media (max-width: 430px) {
    padding: 15px 10px;
    margin-left: 0;
  }
  &Outlook {
    display: flex;
    align-items: center;
    @media (max-width: 430px) {
      flex-direction: column;
    }
  }
  &Img {
    max-width: 270px;
    max-height: 290px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
  }
  &Date {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5em;
    transform: rotate(90deg);
    max-width: 35px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    white-space: nowrap;
    @media (max-width: 430px) {
      margin: 10px 0;
      max-width: 100%;
      transform: rotate(0deg);
      white-space: wrap;
    }
  }
  &Info {
    padding-top: 20px;
    display: flex;
    font-weight: 500;
    p {
      margin-left: 12px;
    }
  }
  &Type {
    font-size: 14px;
    padding: 0 15px;
    border-radius: 8px;
    &_relax {
      color: #f178b6;
      background-color: #fcddec;
    }
    &_adventures {
      color: #7879f1;
      background-color: #f1f1fd;
    }
  }
  &DaysCount {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &Main {
    margin-left: 10px;
  }
  &Title {
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0;
  }
  &Order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 430px) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  &PriceInfo {
    font-size: 14px;
    @media (max-width: 430px) {
      margin-bottom: 20px;
    }
  }
  &Price {
    font-size: 24px;
    font-weight: 500;
  }
  &Btn {
    background: #f2f6ff;
    border-radius: 10px;
    padding: 13px 20px;
    border: none;
    color: #3e86f5;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 17px;
  }
}
